/* Color Theme Swatches in Hex */

$black: #262621;
$blue: #4169e1;
$phpBlue: #6082bb;
$white: #fff;

$Monokai-royal-1-hex: #f22872;
$Monokai-royal-2-hex: #4169e1;
$Monokai-royal-3-hex: #a3d82f;
$Monokai-royal-4-hex: #465223; //Background
$Monokai-royal-5-hex: #f28221;

/* Color Theme Swatches in RGBA */
$Monokai-royal-1-rgba: rgba(242, 40, 114, 1);
$Monokai-royal-2-rgba: rgba(65, 105, 225, 1);
$Monokai-royal-3-rgba: rgba(163, 216, 47, 1);
$Monokai-royal-4-rgba: rgba(70, 82, 35, 1);
$Monokai-royal-5-rgba: rgba(242, 130, 33, 1);

/* Color Theme Swatches in HSLA */
$Monokai-royal-1-hsla: hsla(338, 88, 55, 1);
$Monokai-royal-2-hsla: hsla(225, 72, 56, 1);
$Monokai-royal-3-hsla: hsla(78, 68, 51, 1);
$Monokai-royal-4-hsla: hsla(75, 40, 22, 1);
$Monokai-royal-5-hsla: hsla(27, 88, 53, 1);
